html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  box-sizing:border-box;
}

#dwebchat {
  display:flex;
  flex-direction:row;
  height:100vh;
  width:100%;
}
 #dwebchatSidebar {
   flex:4;
   display:flex;
   height:calc(100% - 58px);;
   flex-direction:column;
   overflow-x:hidden;
   overflow-y:auto;
   position:relative;
   scrollbar-color: black #1e1e1e;
   scrollbar-width: thin;

   #createWindow {
     position: fixed;
     bottom: 10px;
     left: 10px;
     padding: 7px 12px;
     font-size: 24px;
     background-color: #007acc;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
   }
     #createWindow:hover {
       background-color: #005fa3;
     }
  .message-name {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #333;
    color: #ccc;
    overflow-x:auto;
    position:relative;
    scrollbar-color: black #1e1e1e;
    scrollbar-width: thin;
  }
   .message-name:hover, .message-name.active {
     background-color: #333;
     color: #fff;
   }
   .message-name.pending {
     color: #ff0000; /* Red text color */
   }
 }
 #dwebchatSidebarToggle {
   flex:1;
   position:relative;
   max-width:16px;
   #sidebarToggle {
     z-index: 1000;
     cursor: pointer;
     position:absolute;
     top:50%;
     border:none;
     background:none;
     color: #1e1e1e;
   }
     #sidebarToggle:hover {
       color:#e0e0e0;
     }
 }
 #dwebchatMain {
   flex:20;
   display:flex;
   flex-direction:column;
   height:100%;

   #messageArea {
     flex: 1;
     overflow-y: auto;
     border: 2px solid #333;
     padding: 10px;
     background-color: #1e1e1e;
     margin:10px;
     scrollbar-color: black #1e1e1e;
     scrollbar-width: thin;
   }
    #messageArea div.message {
      .sender {
        color:#007acc;
        padding:4px;
        margin-right:4px;
      }
      #messageArea .msg {
      }
    }
    #messageArea div.message-me {
      .sender {
        color:#de6b7c;
      }
    }
   #inputArea {
     display: flex;
     flex-direction:row;
     margin:10px;
     margin-top:0px;

     #messageInput {
       outline:none;
       flex: 1;
       padding: 10px;
       font-size: 16px;
       border: 2px solid #333;
       border-radius: 5px;
       background-color: #252526;
       color: #ccc;
       margin-right: 10px;
     }
     #sendButton {
       padding: 10px 20px;
       font-size: 16px;
       background-color: #007acc;
       color: #fff;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       transition: background-color 0.3s;
     }
      #sendButton:hover {
        background-color: #005fa3;
      }
   }
 }

#prompt {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#prompt > div {
  background-color: #252526;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
}

#prompt p {
  color: #ccc;
  margin: 0 0 10px 0;
}

#promptInput {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 4px;
  color: #ccc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline:none;
}

#promptOk, #promptCancel {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #007acc;
  margin-right: 10px;
}
 #promptOk:hover {
   background-color: #005fa3;
 }
#promptCancel {
  background-color: #de6b7c;
}
 #promptCancel:hover {
   background-color: #cd7c8d;
 }

#contextMenu {
  position: absolute;
  z-index: 1001;
  background-color: #252526;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  width: auto;
  min-width: 150px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
  }
  li {
    padding: 8px 15px;
    color: #ccc;
    cursor: pointer;
  }
   li:hover {
     background-color: #333;
   }
}
